### ```File handling is important part of any programming language more so if wwe are dealing with data ```
- File handling in python is done using `open()` method
- The `open()` method accepts  two arguments , first is the name of the file and second argument being the mode of operation of the file
- There are four modes of operations for the file . They are :
- `x`: create a fiile . return an error if the file already exist.
- `w`: to `write` content to a file . If data is already is present , write mode rewrites the entire file and saves the new content.
- `a` : to `append` content to an existng file . While create a new file the file mentioned is not found.
- `r` : to `read` content of a file . throws an error if the file is not found .

### ```WRITING TO A FILE```

In [22]:
# writting a content to a new file using 'w' mode of operation
with open('innomatics.txt','w') as f :
    f.write('Data Science Course is taught at Innomactics\n')
    f.write('Innomatics is located in Mohali Nh 4\n')
    f.write('Innomatics offers online and offline courses')
    f.close()

In [23]:
# appending content to a file 
with open('innomatics.txt','a') as f:
    f.write('\nDigital Marketing course also taught in innomatics')
    f.close()

### ``` READING FROM A FILE```

In [28]:
with open('innomatics.txt','r') as f:
    text = f.read()
    print(text)
    f.close()

Data Science Course is taught at Innomactics
Innomatics is located in Mohali Nh 4
Innomatics offers online and offline courses
Digital Marketing course also taught in innomatics

In [32]:
with open('innomatics.txt','r') as f:
    line1 = f.readlines() # it gives all the written lines in a list .
    line2 = f.readlines()
    print(line1)
    print(line2)
    f.close()

['Data Science Course is taught at Innomactics\n', 'Innomatics is located in Mohali Nh 4\n', 'Innomatics offers online and offline courses\n', 'Digital Marketing course also taught in innomatics']
[]

### DELETING a File

In [1]:
# `os` module deals with all the things related to operating system and files 
import os

In [2]:
if os.path.exists('innomatics.txt'):
    os.remove('innomatics.txt')
    print('the file has been successfully deleted')
else :
  print('The file does not exist in the current path')

The file does not exist in the current path

### Creating a CSV file

``` csv - comma seperated values ```

In [16]:
with open('student.csv','w') as f:
    f.write('roll no,name,marks,grade\n')
    f.write('001,Abc,100,PASS\n')
    f.write('002,sun,69,PASS\n')
    f.write('003,mon,93,PASS\n')
    f.write('004,tue,87,PASS\n')
    f.write('005,wed,84,PASS\n')
    f.write('006,thu,76,PASS\n')
    f.write('007,fri,56,PASS\n')
    f.write('008,sat,97,PASS\n')
    f.close()

In [9]:
import pandas as pd
pd.read_csv('./student.csv')

   ID no  Name   Marks Grade
0      1   Abc     100  PASS
1      2   sun      69  PASS
2      3   mon      93  PASS
3      4   tue      87  PASS
4      5   wed      84  PASS
5      6   thu      76  PASS
6      7   fri      56  PASS
7      8   sat      97  PASS

In [3]:
# Assistant
# Assistant
# Define n before using it in the loop
n = 5  # Replace with the number of student records you want to write
name=input("enter the name")
grade=input('enter the grade')
marks=int(input("enter the marks"))
with open('student.csv', 'w') as f:
    # Write header line
    f.write('roll no,name,marks,grade\n')
    
    # Now n is defined, so this loop will work
    for i in range(0, n):  # Using 'i' as loop variable
        name=input("enter the name")
        grade=input('enter the grade')
        marks=int(input("enter the marks"))
        # Write your data here
        f.write(f'{i+1},Student{name},{marks},{grade}\n')
        
    f.close()
    # Note: No need for f.close() when using 'with' statement
    # It automatically closes the file when the block ends

enter the name s
enter the grade A
enter the marks 3
enter the name a
enter the grade s
enter the marks 4
enter the name a
enter the grade r
enter the marks 5
enter the name a
enter the grade g
enter the marks 6
enter the name a
enter the grade h
enter the marks 8
enter the name a
enter the grade h
enter the marks 8

In [4]:
import pandas as pd
pd.read_csv('./student.csv')

   roll no      name  marks grade
0        1  Studenta      4     s
1        2  Studenta      5     r
2        3  Studenta      6     g
3        4  Studenta      8     h
4        5  Studenta      8     h


When you run this code, if you don't enter a value for marks and just press Enter, the `input()` function returns an empty string `''`, and `int('')` raises a ValueError.

Would you like me to provide the corrected code?

In [1]:
# Assistant
# Define n before using it in the loop
n = 5  # Replace with the number of student records you want to write

with open('student.csv', 'w') as f:
    # Write header line
    f.write('roll no,name,marks,grade\n')
    
    # Now n is defined, so this loop will work
    for i in range(0, n):  # Using 'i' as loop variable
        name = input("enter the name: ")
        grade = input('enter the grade: ')
        
        # Add error handling for marks input
        while True:
            try:
                marks_input = input("enter the marks: ")
                marks = int(marks_input)  # Try to convert to integer
                break  # If successful, exit the loop
            except ValueError:
                print("Please enter a valid number for marks.")
        
        # Write your data here
        f.write(f'{i+1},{name},{marks},{grade}\n')
    
    # Note: No need for f.close() when using 'with' statement
    # It automatically closes the file when the block ends

enter the name:  Sonu
enter the grade:  A
enter the marks:  98
enter the name:  r
enter the grade:  W
enter the marks:  54
enter the name:  w
enter the grade:  e
enter the marks:  5
enter the name:  r
enter the grade:  w
enter the marks:  5
enter the name:  e
enter the grade:  r
enter the marks:  6

In [2]:
import pandas as pd
pd.read_csv('./student.csv')

   roll no  name  marks grade
0        1  Sonu     98     A
1        2     r     54     W
2        3     w      5     e
3        4     r      5     w
4        5     e      6     r