# LITERALS

literals are raw data values . It is important for us to know about the different datatypes in a programming languague.

four basics data types in python are :
- `int` : numberic data type , integers
 > 34
- `float` : numberic data type , decimal  values
 > 3.14

- `str` : text datatype
> 'innomatics'
- `bool`: binary datatype
> True, False

# VARIABLES

Variables are containers for storing literals value . They act as a placeholder.
**Rules for naming variable**

**Rules for naming variable**

- a variable name can only contain either`alphabets`,`numbers` or an `underacore`
- a variable name can only start with either an`underscore` or an `alphabet`
- a variable shouldn't be named after an existing `keywords`
- a variable name shouldn't have any spaces . If you have to include a space,
represent it using an under score or make your `vsriable` name `CamelCase`
 > VariableName  
                  > variable_name
- even though not a rule, it is always preffered to have our variable names as descriptive as possible

In [ ]:
 # assign literals to a variable
 var11 = 3.14
 var2 = 24
 var3 = False
 print(var1,var2,var3)

In [ ]:
var11

In [ ]:
# to know the type of the literals a variable holds, use the type() method


print(type(var11))

In [ ]:
 # assign literals to a variable
 var1 = 3.14
 var2 = 24
 var3 = False
 print(type(var1,var2,var3))

In [ ]:
#rint(f"age of the man is 24/6:0.f")

In [ ]:
# variables can change type mid-day
a=10
print(type(a))
a ='10'
print(type(a))
# now we add both a one as a interger other as string it gives string

print(a+a)

In [ ]:
a=4
b=5.6
c='hello'

In [ ]:
# to assign different va;ues to multiple variables in a single liine
a,b,c = 4,5.6,'hello'
print(a)
print(b)
print(c)

In [ ]:
# assign same value to the different variables in a single  lines
a = b = c = True

In [ ]:
print(a)
print(b)
print(c)

### STRINGS ###

- **A strinng is a sequence of  character, where a  character is a symbol**
- string in a python are denoted by enclosing in either singke or double quotes.
  the scope of variables denoted using single or double quotes in a single line
- triple quotes can also be denotes strings if they happen in multiple lines

In [ ]:
strin1 = 'how are you ?'
strin1

In [ ]:
string2= " how are youu?"
string2

In [ ]:
string4= """ innomatics
    research
    lab """
string4

### INDEXING STRING ###

- Accessing item in a collection/sequence is called as indexing
- we use square brackets after the variable name to denote that it is being indexed
- the positon of the item is given in the brackets
> since we are looking at the position ,index value cannot be decimals
- Indices in  python start from 0 by default

In [ ]:
var = 'Innomatics Research Labs'

In [ ]:
print(type(var))

In [ ]:
 var[:9]
 var[11]

In [ ]:
var[19]

In [ ]:
var[0]

In [ ]:
var[-3]

In [ ]:
var[-5]

In [ ]:
var[12]

In [ ]:
var[0:24:2] #var[start:stop:end]

In [ ]:
#indexng from the end
var[-1]

In [ ]:
var[-4]

In [ ]:
var[-17]

#slicing is accessing a sub-string or a sub-collecton from a bigger sequence/collection instead of a single value
# we use the range operator : to slice a sequence/collection
# `start index:stopindex `,[start,stop)

In [ ]:
string = 'Happy New Year!'

In [ ]:
string[6:9]

In [ ]:
string[1:10]

In [ ]:
string[0:5]

In [ ]:
string[:5]

In [ ]:
string[10:15]

In [ ]:
string[10:]

In [ ]:
string[:9:2]

In [ ]:
string[::3]

In [ ]:
string[::-3]

In [ ]:

string[-1::-1]

In [ ]:
string[::]

### Changing a string

- Strings are immutable hence parts of the string can't be chnaged .But we change the string as a whole

In [ ]:
string

In [ ]:
string[6 =]'N'

In [ ]:
print(string)
string='Happy Sankranti'
print(string)

- IF we want to check if a pattern is part of a string, we'll use the 'in'keword
> pattern in string

In [ ]:
string

In [ ]:
'appy' in string

In [ ]:
'appl' in string

 ## ** Arithematic Operators **

In [ ]:
5/2

In [ ]:
# concatenation of string
a= ' Hello!'
b= " Hi "
c=a+b+string
print(c)

In [ ]:
b*3

### BUilt - in Functions

In [ ]:
# To find the lenght of a string
len(string)

In [ ]:
variable = 'Innomatics Researxh Lab'
print(variable)

In [ ]:
variable

In [ ]:
variable=variable.lower()
variable

In [ ]:
# To convert all the letters in string to  Capitals
variable.upper()

In [ ]:
# to have a string where just the begning letter is capital
variable.capitalize()

In [ ]:
# to a string where strating letter of every word is capital
variable.title()

In [ ]:
# to get number of occurences of a substring in our main string
variable.count('a')

In [ ]:
variable.count('ab')

In [ ]:
variable.count('mat')

In [ ]:
variable.count('mat')

In [ ]:
# TO fint the index of where a particular sub-string is started
variable.find('ma')

In [ ]:
variable.find('-a')

In [ ]:
variable.find('a')

In [ ]:
variable.find('hello') # returns -1 when the pattern is not part of string

In [ ]:
variable.index('ma') ## to find index

In [ ]:
variable.index('hello') # Thorws error

In [ ]:
# to replce thw sub-staring with  replacment
variable.replace('a','@')

In [ ]:
# To slplit the sentence into words on a delimeter
variable.split()

In [ ]:
var= 'hi,how,are,you?'
var.split(',')

In [ ]:
var1 ='How are you?\n '
var2 = 'How are You'
print(var1,var2)

In [ ]:
var1
print(var1)

In [ ]:
# STRIP method is used to remove any whitespaces and new line chracacters from
# the begining and ending of a string
var1.strip( )

### `FORMAT()` METHOD

- fomat() method is used to fill parts of string at a later stage

In [ ]:
print("Today is sunday and its cloudy")

In [ ]:
## USE OF MULTIPLE REPLACE
var = " today is sunday and its cloudy "
var = var.replace('today','Tomorrow').replace('sunday','Monday').replace  ('cloudy','Rainy.')
print(var)

In [ ]:
"Today is {0} and its {1}".format('Monday','Sunny') # it can  be chnage by positional argument

In [ ]:
string = "Today is {day} and its {weather} "
print(string.format(weather='Sunny',day='Monday')) # keyword order

### PRINT() METHOD

 - `print()` method is used to output values to the console

In [ ]:
a,b = 10,30
c=a+b
print(c)

In [ ]:
print(4/3)

In [ ]:
string1='Hi'
string2='How are you'
print(string1,string2) # use comma for space to print two string

In [ ]:
print(string1+' '+string2)

### INPUT() METHod

In [ ]:
input("enter your name :")

In [ ]:
name = input("Enter your name :")
print('Hello',name)

In [ ]:
num1 = input("Enter first number :")
num2 = input("Enter second number :")
print(num1+num2)

In [ ]:
# THE Sum of 2 and 3  is 23
num1 = input("Enter first number :")
num2 = input("Enter second number :")
print('The sum of {} and {} is {}'.format(num1,num2,int(num1)+int(num2)))

### TYPECASTING

- typecasting is converting one compatible datatype to the other

In [ ]:
a=45
print(a)
print(type(a))
a= int(a)
print(a)
print(type(a))

In [ ]:
b='3.14'
b=float(b)
print(type(b))

In [ ]:
c=456
c=str(c)
c

In [ ]:
num1=input("Enter first number :")
num2=input("Enter second number :")
print('The sum of {} and {} is {}'.format(num1,num2,int(num1)+int(num2)))

### problems

In [ ]:
name1=input('Enter your name : ')
len(name1)
print('The name {} has {} characters'.format(name1,len(name1)))

In [ ]:
##2. Invoice
print('-'*10+'INVOICE AT' + 'RELIANCE TRENDS'+'-'*10)
name=input('Name of the item :')
price=input('Price of the item :')
quantity=int(input('Quantity of the item :'))
# print('The item {} costs {} rupees'.format(name,price))
# Tax= (int(price)*quantity*18/100)
print('tax@18% : {}'.format((int(price)*quantity*18/100)))
print('Grand Total : {}'.format((int(price)*quantity)+(int(price)*quantity*18/100)))

- Collections in python are used to group items together . There are four kinds of collections in python.


- > `list`
- >  `tuple`
- > `dictionary`
- >  `set`

### LIST

- LIST are collections in python which are ordered, inidexiable and mutable
- List are defining using[] brackets
- List can contain duplicate items

In [ ]:
## CReating a list with zero elements
li=[]
print(type(li))

print(len(li))

In [ ]:
# CREATE a list with 1 element
li=['man']
print(type(li))

print(len(li))

In [ ]:
# multiple items
li=['man',3.14,True,[1,2,3],6,5.8]
print(li)
print(type(li))

print(len(li))

### INDEXING A LIST

In [ ]:
li=[1,2,3,4,5,6,7,8]
print(li)

In [ ]:
# to get the items
print(li[0])
print(li[3])
print(li[-5])

In [ ]:
# to get sub-list
li[2:6]

In [ ]:
# to reverse the list
li[::-1]

In [ ]:
# TO GET THE SUB-LIST [2,5,8]
print(li[1::3])

### ADDING items to a list

In [ ]:

li = [1,2,3,4,5,6,7,]

In [ ]:
# to add an item to the end of the list
print(li)
li.append(8)
print(li)

In [ ]:
#  add an item in the MIDDLE OF THE LIST
print(li)
li.insert(4,4) # (index-positon,value)
print(li)

In [ ]:
# to combine the list l1 and li or the list li with l1
l1=[1,2,3]
print(l1)
li.extend(l1)
print(li)

### Updating values in a list

In [ ]:
li

In [ ]:
# updating single value
li[5]=66
li

In [ ]:
# upodating multiple values in the list with a single value
print(li)
li[6:9]= [77]
print(li)

In [ ]:
# replacing multiple values with multiple values
print(li)
li[6:9]=[77,88,99]
print(li)

** Updating List **

In [ ]:
# to remove the last value from the list
print('list before popping',li)
a=li.pop()
print('list before popping',li)
print('popped value',a)

In [ ]:
# to remove an item from a  list based on its position
print('list before popping',li)
a=li.pop(4)
print('list before popping',li)
print('popped value',a)

In [ ]:
## to remove an item from the list based o its face value
print('list before removing',li)
li.remove(3)
print('list after removing',li)

### built-in methods

In [ ]:
l2 = [1,2,1,5,7,3,4,5,6,7,8,9,10,3]

In [ ]:
# to return a duplicate instance of the list
l2_copy = l2.copy()
print(l2_copy)

In [ ]:
# to return the number of occurences of a particular item
l2.count(1)

In [ ]:
# to return the index positon of the first occurence of the value
l2.index(2)

In [ ]:
# to reverse the list
print('list before reversing :',l2)
l2.reverse()
print('list after reversing :',l2)

In [ ]:
# to sort the values in the list
print('list before sorting :',l2)
l2.sort()
print('list after ascending sorting :',l2)
l2.sort(reverse=True)
print('list after decending sorting :',l2)

In [ ]:
## to delete the list permanently
print('list before deleting',l2)
del l2
print('list after deleting',l2)

In [ ]:
# to empty my list of its comtents
l3=[1,2,3,4,5,6,7,8,9,10]
print('list before clearing',l3)
l3.clear()
print('list after clearing',l3)

### `TUPLE`

- Tuples are collection in python are orderd,indexable and immutable
- Tuples are defined using()
- Tuples allows duplicates

## Creating Tuples

In [ ]:
# creating an empty tuple
tu = ()
print(type(tu))
print(len(tu))

In [ ]:
# create a tuple with one element in it
tu=(1,)
print(type(tu))

In [ ]:
# create a tuple with multiple elements of the same type
tu=(1,2,3,4,5)
print(type(tu))
print(len(tu))

In [ ]:
# with differernt type
tu=(1,2.3,True,'hello',[1,2,3])
print(type(tu))
print(len(tu))

## INDEXING

In [ ]:
tu = (1,2,3,4,5,6,7)

In [ ]:
# getting 3rd element in tuple
tu[2]

In [ ]:
# getting the first  element from last
tu[-1]

In [ ]:
# getting the  third, fourth and fifth elements
tu[3:6]

In [ ]:
# getting alternate elements in the tuple
tu[::2]

In [ ]:
# reverse the tuple
tu[::-1]

In [ ]:
tu[::2]

Built in Methods

In [ ]:
tu=(1,2,3,4,5,1,6,3,2,1)
tu.count(1)

In [ ]:
# returns the index position of the first occurence of the element
tu.index(1)

In [ ]:
# Iterate through the tuple and print the index of each occurrence of 1
for index, value in enumerate(tu):
    if value == 1:
        print(index)

 # `SETS`

- Sets are collections in python , which are unordered,unindexiable and mutable
- Sets are defined using `{}`
- Sets do not allow duplicate values

In [ ]:
### Creating an empty set
se= {} # empty{} indicate that it is dictionary rather than a set

print(type(se))
print(len(se))

In [ ]:
se=set()
print(type(se))
print(len(se))

In [ ]:
# creatng a set of the one element
se={True}
print(type(se))
print(len(se))

In [ ]:
# create a set of multiple elements of the same type
se={7,6,9,4,1,2,3,4,5}
print(se)
print(type(se))
print(len(se))

In [ ]:
# creating a set of multple elements of different types
se={1,2.3,True,'hello',1,2,3,False}
print(se)
print(type(se))
print(len(se))

### Adding values to the set

In [2]:
se={1,2,3,4,5,7}
print(se)

{1, 2, 3, 4, 5, 7}

In [ ]:
print("the input order: {} ' . format ('{3,1,5,7,2,1,4,3,,1,5,7}'))
print('the output order : {}'. format

In [ ]:
print("the input order: {} ' . format ('{3,1,5,7,2,1,4,3,,1,5,7}'))
print('the output order : {}'. format

In [3]:

se.add(8)
se

{1, 2, 3, 4, 5, 7, 8}

In [4]:
se.add(6)
(se)

{1, 2, 3, 4, 5, 6, 7, 8}

In [5]:
print('Hello')

Hello

### `DATE Time`

DateTime module has all the classes to handle date and time . Commonly used calsses are :
- date class
- Time class
- Datetime class
- Timedate class

In [1]:
import datetime

## Date Class

In [3]:
# instanting date Object 
date = datetime.date(2007,4,28)
print(date)

2007-04-28

In [4]:
type(date)

datetime.date

In [8]:
# getting current date and time
current_date = datetime.date.today()
print(current_date)

2025-10-07

In [20]:
print(current_date.day)
print(current_date.month)
print(current_date.year)
print(current_date.isoweekday())
print(current_date.isocalendar())
print(current_date.fromtimestamp(11234195567))  ## Unix time is calculated in seconds from the January 1st,1970.

7
10
2025
2
datetime.IsoCalendarDate(year=2025, week=41, weekday=2)
2325-12-31

## Time class

In [31]:
  datetime.datetime.now()

datetime.datetime(2025, 10, 7, 12, 52, 3, 180145)